FIREBASE_PROJECT_ID=
FIREBASE_API_KEY_ANDROID=
FIREBASE_APP_ID_ANDROID=
ADMOB_APP_ID=ca-app-pub-3940256099942544~3347511713
ADMOB_BANNER_ID_HOME=ca-app-pub-3940256099942544/6300978111
ADMOB_INTERSTITIAL_ID_VERIFY=ca-app-pub-3940256099942544/1033173712
PRIVACY_POLICY_URL=https://semspam.com.br/privacidade
TERMS_URL=https://semspam.com.br/termos
SUPPORT_EMAIL=suporte@semspam.com.br
